.login-background {

	background-color: #ffffff;
	padding: 120px 290px;
}

.login-form-background {
	background-color: :#AAACAE;
}

div.login-form {
    background-color: #e3e3e3;
}

a.login-link {
    color: #1b9e0f;
}

