div.login-screen {
	width: 500px;
}

div.login-form {
    background-color: #e3e3e3;
    width: 310px;
    margin: 100px auto 0px auto;
}

a.login-link {
    color: #1b9e0f;
}

div.alert-top {
	position: absolute;
	top: 0px;
	left: -2px;
	right: -2px;
}
